footer {
    background-color: #edebe8;
    padding: 2rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .footer-items a {
    font-weight: 700;
    color: #783384;
    font-size: 0.875rem;
    text-decoration: none;
}

footer .footer-items a:not(:first-child) {
    font-weight: 100;
    text-decoration: underline;
}


.footer-bar-bottom {
    font-size: 0.875rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #414141;
}

.footer-bar-bottom a {
    margin: -1rem 0rem;
    color: #783384;
}